@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* at special box*/
/* .animated-border {
  position: relative;
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.animated-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 0.5rem;
  background: linear-gradient(45deg, #d53369, #daae51, #65799b, #d53369);
  background-size: 400% 400%;
  animation: borderAnimation 8s ease infinite;
  z-index: -1;
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */


.special-box {
  position: relative;
  padding: 1.5rem;
  background-color: #6a1b9a; /* Adjust to match the purple shade */
  border-radius: 0.75rem;
  color: white;
  text-align: center;
  overflow: hidden;
}

.special-box::before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 2rem;
  background-color: #6a1b9a; /* Match background color */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: -1;
}

